<!-- File: create_post_form.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 2/20/2026 -->
<!-- Description: The form template for creating a new post -->
<!-- The html template for the form to create a new post that takes in context from the views.py CreatePostView function to create the post -->

{% extends 'mini_insta/base.html' %} <!-- linking to the base.html template-->

{% block content %}
<html>
    <main>
        <div class="post-container">

            <h1>Create a Post!</h1>

            <!-- displaying the form to create a new post -->
            
            <form action="{% url 'create_post' profile.pk %}" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <table>
                {{ form.as_table }}
                </table>

                <label for="files">Images:</label>
                <input type="file" attribute="multiple" name="files">
                <button type="submit">Create Post</button>

                <a href="{% url 'show_profile' profile.pk %}">
                <button type="button" class="cancel-button">Cancel</button>
                </a>
                
            </form>
        </div>
    </main>
</html>
{% endblock %}