<!-- File: all_ideas.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 4/16/2026 -->
<!-- Description: The page to display all ideas -->

{% extends 'storyplanning/base.html' %}

{% block content %}
        <h1>All Ideas</h1>
        <h3>Here are all of your ideas:</h3>
        <ul>
            <li><a href="{% url 'create_idea' %}">Create Idea</a></li>
            {% for idea in ideas %}
                <li>
                    <a href="{% url 'idea' idea.pk %}">{{ idea.title }}</a>
                    <p>{{ idea.outline }}</p>
                </li>
            {% endfor %}
        </ul>

{% endblock %}