<!-- File: character.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 4/21/2026 -->
<!-- Description: The page to display a character -->

{% extends 'storyplanning/base.html' %}

{% block content %}

<a href="{% url 'idea' character.idea.pk %}">Back to Idea</a>

{% with first_scene=character.scenes.first %}
{% if first_scene %}
    <a href="{% url 'scene' character.idea.pk first_scene.pk %}">Back to Scene</a>
{% endif %}
{% endwith %}

<h1>Character: {{ character.name }}</h1>
<p>Description: {{ character.description }}</p>


{% if character.scenes.count > 0 %}
    <p>Scenes:</p>
    <ul>
        {% for scene in character.scenes.all %}
            <li>{{ scene.title }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if character.idea %}
    <p>Idea: {{ character.idea.title }}</p>
{% endif %}

{% if character.get_all_images.count > 0 %}
    <h2>Images</h2>
    <ul>
        {% for image in character.get_all_images %}
            <li>
                <a href="{% url 'image_for_character' character.idea.pk character.pk image.pk %}">
                    <img src="{{ image.get_image_url }}" alt="{{ image.description }}">
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}