<!-- File: all_ideas.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 4/16/2026 -->
<!-- Description: The page to display all ideas -->

{% extends 'storyplanning/base.html' %}

{% block content %}
        <h1>{{ idea.title }}</h1>
        <h2>Storyboard:</h2>
        <p>{{ idea.storyboard }}</p>

        <h2>Characters:</h2>
        <ul>
            <li>
                <a href="{% url 'create_character' idea.pk %}">Create Character</a>
            </li>

            {% for character in idea.get_all_characters %}
            <li>
                <a href="{% url 'character' idea.pk character.pk %}">{{ character.name }}</a>
            </li>
            {% endfor %}
        </ul>

        <h2>Scenes:</h2>
        <ul>
            <li>
                <a href="{% url 'create_scene' idea.pk %}">Create Scene</a>
            </li>
        {% for scene in idea.get_all_scenes %}
            <li>
                <a href="{% url 'scene' idea.pk scene.pk %}">{{ scene.title }}</a> <!-- using the scene url pattern not the scene_only url pattern arbitrarily -->
                <p>{{ scene.outline }}</p>
            </li>
        {% endfor %}
        </ul>

{% endblock %}