<!-- File: scene.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 4/21/2026 -->
<!-- Description: The page that displays a single scene -->
<!-- The html template that takes in context from the views.py SceneView function and 
links to base.html to display the single scene -->

{% extends 'storyplanning/base.html' %} <!-- linking to the base.html template-->

{% block content %}


    <a href="{% url 'idea' scene.idea.pk %}">Back to Idea</a>

    <a href="{% url 'create_character_for_scene' idea_pk=scene.idea.pk scene_pk=scene.pk %}">Create Character</a>

    <h1>Scene: {{ scene.title }}</h1>

    <h2>Outline</h2>
    <p>{{ scene.outline }}</p>

    <h2>Script</h2>
    <p>{{ scene.script }}</p>

    <h2>Characters</h2>
    <ul>
        {% for character in scene.get_all_characters %}
        <li>
            <a href="{% url 'character_for_scene' idea_pk=scene.idea.pk scene_pk=scene.pk character_pk=character.pk %}">{{ character.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Images</h2>
    <ul>
        {% for image in scene.get_all_images %}
        <li>
            <a href="{% url 'image_for_scene' idea_pk=scene.idea.pk scene_pk=scene.pk image_pk=image.pk %}">
                <img src="{{ image.get_image_url }}" alt="{{ image.description }}">
            </a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}